
      <% if @event.photos.attached? %>
        <div>
          <% @event.photos.each do |photo| %>
            <%= cl_image_tag(photo.key, :width => 200) %>
          <% end %>
        </div>
      <% else %>
        <div class="show-image mb-3 d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)); color: rgba(0,0,0,0.5)">
          <p><em>No image uploaded.</em></p>
        </div>
      <% end %>
      <h2><%= @event.title %></h2>

