.eventphotos {
  width: 100%;
  display: flex !important;
  justify-content: center !important;
}

.eventtext {
  width: 100%;
}


.carousel{
  width: auto;
  max-height: 100vh;
}

.carousel-inner{
  width: auto;
  max-height: 100vh;
}

.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.carousel-item:before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
